# LOGGING
LOG_LEVEL="info"
LOG_PATH="logs/log"
# AUTHENTICATION
API_KEY=""
FIX_CONFIG_PATH="binance/fixconfig"
PRIVATE_KEY_PATH="key.pem"
#
SYMBOLS=BTCUSDT,
# CPU PINNING
PX_SESSION_CPU=0
TX_SESSION_CPU=1
# CPU ISOLATION
CPU_SET_NAME=tradercpp
CPU_SET_RANGE="0-1"
